@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root{
    --custom_grey: #353535;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hind', sans-serif;
    color: white;
}


@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    background-color: black;
}

.active_link{
    text-decoration: underline;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 6%;
}

.logo img{
    height: 75px;
    color: purple;
}

.nav_links{
    display: flex;
    justify-content: right;
    gap: 40px;
}

.nav_links a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease;
}

.nav_links a:hover{
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    width: fit-content;
    white-space: nowrap; 
}
  
.has-submenu {
    position: relative;
}

.submenu a{
    color: rgba(255, 255, 255, 0.85);
}

.has-submenu:hover .submenu {
    margin-top: 5px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
}



.hamburger{
    display: none;
}

.bar{
    display: block;
    height: 3px;
    width: 35px;
    margin: 6px auto;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}




/* main */

.contact_us_title{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.contact_us_title h1{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 75px;
}

.contact_container{
    background-color: #151515;
    padding: 90px 10%;
    display: flex;
    justify-content: center;
    gap: 200px;
}


/* contact form */

.contact_form{
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.contact_form input{
    color: #151515;
    padding: 5px;
    width: 46%;
    font-size: 18px;
}

.contact_container p{
    width: 99%;
    font-size: 21px;
}

.contact_form button {
    font-size: 20px;
    padding: 5px;
    color: white;
    height: 45px;
    background-color: black;
}

.detail h2{
    font-size: 38px;
}

.detail p{
    font-size: 20px;
}




@media screen and (max-width:750px){



    nav {
        padding: 1.5% 25px;
    }

    .logo img {
        margin-top: 10px;
        height: 50px;
        color: purple;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav_links{
        position:fixed;
        right: -100%;
        top: 75px;
        flex-direction: column;
        justify-content: left;
        gap: 12px;
        background-color: rgba(0, 0, 0, 0.9);  
        width: 100%;
        align-items: center;
        transition: 0.3s;
    }

    .nav_links a{
        font-size: 20px;
    }

    .nav_links.active{
        right: 0;
        z-index: 2;
        padding: 12px 0;
    }

    .has-submenu>a{
        display: none;
    }

    .submenu{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .has-submenu:hover, .has-submenu:active .submenu {
        margin-top: 0px;
        padding: 0px;
    }

    .submenu a {
        color: rgba(255, 255, 255);
    }

    .has-submenu:hover, .has-submenu:active .submenu {
        margin-top: 0px;
        padding: 0px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }




    .contact_us_title {
        margin-top: 30px;
    }

    .contact_us_title h1{
        font-size: 34px;
        margin-bottom: 40px;
    }

    .contact_container {
        background-color: #151515;
        padding: 30px 20px;
        flex-direction: column;
        gap: 30px;
    }

    .detail h2{    
        font-size: 28px;
    }

    .contact_form{
        width: 85%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 10px;
    }

    .contact_form p{
        font-size: 20px;
    }

    .contact_form input{
        margin-bottom: 10px;
        padding: 5px;
        font-size: 16px;
        width: 99%;
        max-width: none;
    }

    .contact_form button{
        color: white;
        height: 45px;
        background-color: black;
    }



}