@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root{
    --custom_grey: #353535;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hind', sans-serif;
    color: white;
}


@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    background-color: black;
}

.active_link{
    text-decoration: underline;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 6%;
}

.logo img{
    height: 75px;
    color: purple;
}

.nav_links{
    display: flex;
    justify-content: right;
    gap: 40px;
}

.nav_links a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease;
}

.nav_links a:hover{
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    width: fit-content;
    white-space: nowrap; 
}
  
.has-submenu {
    position: relative;
}

.submenu a{
    color: rgba(255, 255, 255, 0.85);
}

.has-submenu:hover .submenu {
    margin-top: 5px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
}

/* main */

.contact_us_title{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.contact_us_title h1{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 75px;
}

.contact_container{
    background-color: #151515;
    padding: 90px 12%;
    display: flex;
    justify-content: center;
    gap: 200px;
}


/* contact form */

.contact_form{
    width: 55%;
}

.contact_form input{
    width: 1000px;
    max-width: 48%;
}